DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CHANNEL_ID=
WELCOME_CHANNEL_ID=
WELCOME_BACKGROUND_PATH=public/welcome-background.png
WELCOME_FOREGROUND_PATH=
WELCOME_FONT_FAMILY=Trebuchet MS
WELCOME_FONT_PATH=
WELCOME_TITLE_FONT_PATH=
WELCOME_TITLE_FONT_FAMILY=WelcomeTitle
DISCORD_APP_ID=
DISCORD_PUBLIC_KEY=
GANKNOW_CREATOR_URL=
POLL_INTERVAL_MS=3600000
